/* Made with love and churros con chocolate ❤️ */

:root {

    color-scheme: light dark;

    /* Colors */

    --white: #ffffff;
    --white-dark: #f5f5f5;
    --white-darker: #e3e3e3;
    --gray-lighter: #cdcdcd;
    --gray-light: #b7b7b7;
    --gray: #808080;
    --gray-dark: #414141;
    --gray-darker: #2f2f2f;
    --black-lighter: #222222;
    --black-light: #1a1a1a;
    --black: #111111;

    --primary: #dd458b;

    --border-radius: 8px;
    --max-width: 500px;
    --margin: 20px;
    --scrollbar-width: 18px;

    /* prefers-color-scheme: light */

    --background-color: var(--white);
    --text-color: var(--black-light);
    --text-color-inverse: var(--white);
    --button-background-color: var(--black-light);
    --button-background-color-hover: var(--primary);
    --button-color: var(--white);
    --button-color-hover: var(--white);
    --input-background-color: var(--white-darker);
    --element-background: var(--white-darker);
    --border-color: var(--gray-lighter);
    --scrollbar-background: var(--white-darker);
    --scrollbar-color: var(--gray-light);
    --scrollbar-color-hover: var(--gray);
    --outline-color: var(--black-light);
    --table-header-background: var(--gray-lighter);
    --table-odd-row-background: var(--white-dark);
    --table-even-row-background: var(--white-darker);
    --code-background: var(--black-lighter);
    --code-border-color: var(--gray-dark);
    --code-color: var(--white);
    --separator-color: var(--white-darker);

}

@media (prefers-color-scheme: dark) {

    :root {

        --background-color: var(--black);
        --text-color: var(--white-dark);
        --text-color-inverse: var(--black);
        --button-background-color: var(--white-dark);
        --button-background-color-hover: var(--primary);
        --button-color: var(--black-light);
        --button-color-hover: var(--white);
        --input-background-color: var(--black-lighter);
        --element-background: var(--black-lighter);
        --border-color: var(--gray-dark);
        --scrollbar-background: var(--black-lighter);
        --scrollbar-color: var(--gray-dark);
        --scrollbar-color-hover: var(--gray);
        --outline-color: var(--white-dark);
        --table-header-background: var(--gray-dark);
        --table-odd-row-background: var(--black-light);
        --table-even-row-background: var(--black-lighter);
        --code-background: var(--black-light);
        --code-border-color: var(--gray-darker);
        --code-color: var(--white);
        --separator-color: var(--black-lighter);

    }

}

/* For switching manually to light-mode */

.theme-light {
    --background-color: var(--white);
    --text-color: var(--black-light);
    --text-color-inverse: var(--white);
    --button-background-color: var(--black-light);
    --button-background-color-hover: var(--primary);
    --button-color: var(--white);
    --button-color-hover: var(--white);
    --input-background-color: var(--white-darker);
    --element-background: var(--white-darker);
    --border-color: var(--gray-lighter);
    --scrollbar-background: var(--white-darker);
    --scrollbar-color: var(--gray-light);
    --scrollbar-color-hover: var(--gray);
    --outline-color: var(--black-light);
    --table-header-background: var(--gray-lighter);
    --table-odd-row-background: var(--white-dark);
    --table-even-row-background: var(--white-darker);
    --code-background: var(--black-light);
    --code-border-color: var(--gray-darker);
    --code-color: var(--white);
    --separator-color: var(--white-darker);
}

/* For switching manually to dark-mode */

.theme-dark {
    --background-color: var(--black);
    --text-color: var(--white-dark);
    --text-color-inverse: var(--black);
    --button-background-color: var(--white-dark);
    --button-background-color-hover: var(--primary);
    --button-color: var(--black-light);
    --button-color-hover: var(--white);
    --input-background-color: var(--black-lighter);
    --element-background: var(--black-lighter);
    --border-color: var(--gray-dark);
    --scrollbar-background: var(--black-lighter);
    --scrollbar-color: var(--gray-dark);
    --scrollbar-color-hover: var(--gray);
    --outline-color: var(--white-dark);
    --table-header-background: var(--gray-dark);
    --table-odd-row-background: var(--black-light);
    --table-even-row-background: var(--black-lighter);
    --code-background: var(--black-light);
    --code-border-color: var(--gray-darker);
    --code-color: var(--white);
    --separator-color: var(--black-lighter);
}

* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    -moz-osx-font-smoothing: inherit;
    -webkit-font-smoothing: inherit;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    background-color: var(--background-color);
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    color: var(--text-color);
}

main {
    display: block;
    width: 100%;
    flex: 1;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 2rem 0 1rem 0;
    text-wrap: balance;
}

h1 {
    font-size: 2.2rem;
}

h1:before {
    content: "# ";
    color: var(--primary);
}

h2 {
    font-size: 2rem;
}

/* Tables */

table {
    border-collapse: collapse;
}

thead tr th {
    background: var(--table-header-background);
    font-weight: 600;
}

th,
td {
    padding: 9px 15px;
    text-align: left;
}

tbody tr:nth-of-type(even) {
    background-color: var(--table-even-row-background);
}

tbody tr:nth-of-type(odd) {
    background-color: var(--table-odd-row-background);
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea {

    background-color: var(--input-background-color);
    border: none;
    border-radius: var(--border-radius);
    border: solid 2px var(--border-color);
    padding: 10px 12px;
    font: inherit;
    font-size: 15px;
    resize: none;
    overflow: auto;
}

input[type="file"] {
    display: none;
}

input:focus-visible,
textarea:focus-visible {
    outline: var(--outline-color) solid 2px;
    box-shadow: none;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

:focus:not(:focus-visible) {
    outline: none;
}

/* Images */

img {
    border-radius: var(--border-radius);
    border-style: none;
    display: block;
    max-width: 100%;
}

figcaption {
    text-align: center;
    margin: 0.5rem 0;
    color: var(--gray);
}

/* Anchors */

a {
    color: inherit;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

a:hover {
    color: var(--primary);
}

/* Text */

p {
    text-wrap: pretty;
}

b,
strong {
    font-weight: 600;
}

/* Buttons */

button,
.button,
input[type="submit"] {
    background: var(--button-background-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--button-color);
    cursor: pointer;
    font: inherit;
    line-height: normal;
    padding: 10px 16px;
    transition: all ease-in-out 0.2s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
    background-color: var(--button-background-color-hover);
    color: var(--button-color-hover);
}

button:disabled,
.button:disabled,
input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: var(--button-background-color);
}

button svg,
.button svg,
input[type="submit"] svg {
    height: 1.2em;
    width: 1.2em;
}

button path,
.button path,
input[type="submit"] path {
    fill: var(--button-color);
    transition: fill ease-in-out 0.2s;
}

button:hover path,
.button:hover path,
input[type="submit"]:hover path {
    fill: var(--button-color-hover);
}

button,
select {
    text-transform: none;
}

/* code */

pre {
    background: transparent !important;
}

code,
samp,
time {
    background: var(--code-background);
    border: solid 2px var(--border-color);
    color: var(--code-color);
    border-radius: 6px;
    font-size: 15px !important;
    line-height: 1.1;
    font-size: 17px;
}

pre>code {
    padding: 1rem;
    display: block;
    overflow-x: auto;
}

var {
    color: var(--primary);
    font-style: normal;
    font-family: monospace;
}

kbd,
p code {
    font-family: monospace;
    background: var(--element-background);
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 2px 4px;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    outline: none;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover);
}

/* Classes */

body>footer,
main,
body>header,
.boned {
    width: 100%;
    padding: 0 max(calc((100% - var(--max-width)) / 2), var(--margin));
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
}

.full {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note {
    background: var(--element-background);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 1.5rem 0;
}

.bordered {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    overflow-x: auto;
}

@media (max-width: 500px) {

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .boned {
        padding: 0 var(--margin);
    }

}