:root {

    color-scheme: light dark;

    --white: #ffffff;
    --dark-white: #efefef;
    --light-gray: #cecdcd;
    --gray: #727272;
    --dark-gray: #4f4f4f;
    --light-black: #222222;
    --black: #111111;

    --background-color: var(--white);
    --text-color: var(--black);
    --button-background-color: var(--black);
    --button-color: var(--white);
    --input-background-color: var(--dark-white);
    --separator-color: var(--dark-white);
    --element-background: var(--dark-white);
    --border-color: var(--light-gray);

    --border-radius: 0.4rem;
    

    --width: 600px;

}

/* Restyle elements */
* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    padding: 0 1rem;
    color: var(--text-color);
    font-size: 1.15rem;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    background-color: var(--background-color);
}

body {
    max-width: var(--width);
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    flex: 1;
}

section {
    width: 100%;
    margin: 0.5rem 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

/* Buttons */

button,
.button,
input[type="submit"] {
    background: var(--button-background-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--button-color);
    cursor: pointer;
    font: inherit;
    line-height: normal;
    padding: 10px 20px;
    transition: background ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    -moz-osx-font-smoothing: inherit;
    -webkit-font-smoothing: inherit;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
    opacity: 0.8;
}

button:disabled,
.button:disabled,
input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: default;
}

/* Tables */

table {
    border-collapse: collapse;
}

th,
td {
    padding: 7px 12px;
    text-align: left;
    border-bottom: 1px solid var(--separator-color);
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

input,
textarea {

    background-color: var(--input-background-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 12px;
    font: inherit;
    font-size: 15px;
    transition: all 0.2s;
    -moz-osx-font-smoothing: inherit;
    -webkit-font-smoothing: inherit;
    resize: none;
}

input[type="file"] {
    display: none;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

img {
    border-radius: var(--border-radius);
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

/* Classes */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.full {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice {
    background: var(--element-background);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 1.5rem 0;
}